@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
$robotoFont: 'Roboto', sans-serif;
$blueColor: #0F2336;
$greenColor:  #00CCCC;
$greyColor: #576D81;
$whiteGreyColor:#F4F5F6;
$tablet-width:768px;
$mobileL-width: 426px;
$mobileS-width: 340px;